__pycache__
.DS_Store
cache/
**/.mypy_cache/
*.pyc
*.egg*
build/
dist/
venv/
.env*
cdk.out
cdk.context.json
node_modules

# all in .vscode except settings.default.json and launch.json
**/.vscode/*
!**/.vscode/settings.default.json
!**/.vscode/launch.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
